<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Programmer fox club</title>
</head>
<body>
    <form>
        <ul>
        <li><a href="">Information</a></li>
        </ul>
    </form>
    <img src="../static/greenfox.png" th:src="@{greenfox.png}" alt="logo"/>
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h1>Known tricks</h1>
    <form>
        <ul>
        <li>write HTML</li>
        <li>code in Java</li>
        </ul>
    </form>
</body>
</html>