<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/style.css">
</head>
<body>
<div>
    <span th:text="|This is an ${html} text|"></span>
    <span th:text="${enjoy}"></span>
    <br>
    <span th:utext="|This is an ${html} text|"></span>
    <span th:utext="${enjoy}"></span>
</div>
</body>
</html>