<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<p>My shop</p>
<div class="buttons">
    <form method="GET" action="http://localhost:8080/only-available">
        <input type="submit" name="onlyAvailable" value="ONLY AVAILABLE">
    </form>
    <form method="GET" action="http://localhost:8080/cheapest-first">
        <input type="submit" name="cheapestFirst" value="CHEAPEST FIRST">
    </form>
    <form method="GET" action="http://localhost:8080//contains-nike">
        <input type="submit" name="containsNike" value="CONTAINS NIKE">
    </form>
    <form method="GET" action="http://localhost:8080/average-stock">
        <input type="submit" name="averageStock" value="AVERAGE STOCK">
    </form>
    <form method="GET" action="http://localhost:8080/most-expensive">
        <input type="submit" name="mostExpensiveAvailable" value="MOST EXPENSIVE AVAILABLE">
    </form>
</div>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Quantity of stock</td>
    </tr>
    </thead>
    <tbody id="valami">
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.getQuantityOfStock()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>